/* Your Website Styles */
/* Your Website Styles */
body {
background-image:url("../img/bg.png");
}

@import url(http://fonts.googleapis.com/css?family=Roboto:100);

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}


header:after{
  content:" ";
  position:absolute;
  width:100%;
  background:#B8D973;
  top:482px;
  z-index:-1;
}
h1{
  font: 60px 'roboto', sans-serif;
  font-weight:300;
  color:#48484A;
  text-align:center;
  padding-top: 40px;
  margin:0;
}

nav {
  display:inline-block;
  position:relative;
  top:10px;
  margin:0;
  padding:0;
  width:105%;
  height:100px;
  
  text-align:center;
  
  background-color:white(255,255,255,0);
}

nav ul {
  margin:0;
  margin-top:0px;
  margin-right: 70px;
  padding:40;
}

nav ul li {
  display:inline-block;
  list-style:none;
}

nav ul li a {
  display:block;
  margin:0;
  padding:7px 20px;
  
  color:#1e1e1e;
  font-family:'roboto', sans-serif;
  font-size:1.7em;
  text-decoration:none;
  
  border-bottom:2px solid transparent;
  box-shadow:0px 2px 0px transparent
  
  transition:all .20s ease;
  -webkit-transition:all .20s ease;
  -moz-transition:all .20s ease;
  -o-transition:all .20s ease;
}

nav ul li a:hover {
  border-bottom:2px solid #333;
}



h3 {
  color: orange;
  font-family: 'roboto', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: left;
}

p {
  line-height: 24px;
}

h3 {
  color: #48484A;
  font-size: 25px;
  font-family: 'roboto', sans-serif;
  font-weight: bold;
  margin-top: 40px;

}


/* FOLLOW Title */
@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


.content {
  margin-top: 50px;
  padding: 185px;
  padding-bottom: 15px;
  font: 35px'roboto', sans-serif;
  text-align: center;
  color: #999;
}

.footer {
  padding: 0px;
  text-align: center;
}

.content:hover {
  color: #222;
}


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body{
  font-family: sans-serif;
  padding: 2rem 4rem;
  background-color: #f5f5f5;
}

section{
  width: 400px;
  margin-top: -10px;
  margin: 0 auto;
  padding-left: 90px;
}

.hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ease-all{
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Social Icons */

.social{
  height: 10rem;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  text-align: center;
}


.social li a{
  font-size: 25px;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 3rem;
  text-align: center;
  padding-top: 6px;
  
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -o-border-radius:20px;
  -ms-border-radius:20px;
  border-radius:20px;
  
  /*background-color: #222;*/
  -webkit-box-shadow: inset 0 0 0 40px #222;
  -moz-box-shadow: inset 0 0 0 40px #222;
  -o-box-shadow: inset 0 0 0 40px #222;
  -ms-box-shadow: inset 0 0 0 40px #222;
  box-shadow: inset 0 0 0 40px #999;
  
  color: #fff;
}

.social li a:hover{
  -webkit-box-shadow: inset 0 0 0 3px #222;
  -moz-box-shadow: inset 0 0 0 3px #222;
  -o-box-shadow: inset 0 0 0 3px #222;
  -ms-box-shadow: inset 0 0 0 3px #222;
  box-shadow: inset 0 0 0 3px #222;
  
  color: #222;
}



/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: none;
}
.gallery .controls {
  position: absolute;
  bottom: -155px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: none;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: .25s;
  opacity: .5;
}

.gallery .control-button:hover {
opacity: 1;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}


/* desktop styling */
@media  screen and (max-width: 1200px) {



  article img {
  width: 75%;
  max-width: 75%;
}

}

/* desktop styling */
@media  screen and (max-width: 1000px) {


}

/* tablet styling */
@media  screen and (max-width: 768px) {



  article section {
  width: 50%;
}


}

/* mobil styling */
@media  screen and (max-width: 480px) {

article section {
  text-align: center;
  width: 100%;

  transition: width 1s;
}

article img {
  width: 50%;
  max-width: 50%;
}

nav li {
  float: none;
  margin: .5em 0;
}
header img {
  position: absolute;
  top: 0;
  right: 0;
}
}